.mainbox{
	background-color: whitesmoke;
}

.left{
	background-color: whitesmoke;
}
.right{
	background-color: whitesmoke;
}

.main{
	background-color: white;
}

.bottom{
	background-color: whitesmoke;
}


[class*="col-"]{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
.row{
	overflow: hidden;
}
.carousel-caption {
    left: 50%;
    color: #0f0f0f;
}